*{
    margin: 0px;
    padding: 0px;
    font-family:poppins;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    
    background-color: black;
    color: white;
    align-content: center;
    justify-content: space-around;
    

}

.logo{ 
    display: flex;
    flex:4;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.logo img{
    height:43px;
    width:100px;
   
    
    padding:5px ;
    
    
    
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    /* justify-self:end; */
    flex:5;
}

nav ul li{
    display: inline-block;
    justify-self: center;
    align-self: center;
    padding:10px 20px;
    flex:1;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}

nav ul li:hover{
    color:blue

}

.Home{
    text-decoration: underline;
    text-decoration-color: blue ;
    text-decoration-thickness: 3px;
    
}
/* CONTENT */
.content{
    display: flex;
    flex-direction: row;
    background-color: Black;
    height:95vh;
    gap:10px;
}
.content>div{
    flex:1;
}

.text h2{
    display: inline;
    Color: blue;
    
}
.text h1{
    
    font-size: 30px;
    color:white
}
.text h3{
    font-size: 25px;
    color: blue;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 15px 20px;
}
.text div{
    padding:5px;
}
.text .desc{
    color:white
}


.image{
    align-self: center;
    justify-self: center;
    height:95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding:100px;
}

.image img{
    flex:1;
    
}

button{
    border:2px blue solid;
    border-radius:5px;
    color:blue;
    background-color: black;
    font-family: poppins;
    padding:5px 10px;
    align-self: center;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
    margin:30px;
   

    
}

button:hover{
    background-color: blue;
    color:black;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:blue;
}